html {
    font-size: 62.5%;
}

header {
    position: relative;
    max-width: 100vw;
    display: flex;
    margin: auto;
    border-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.portada{
    display: flex;
    margin: auto;
    border-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 15px;


    
}
main div nav {
    border-top: 5px solid #3e1010;
    border-bottom: 5px solid #3e1010;
    border-left: 5px solid #3e1010;
    border-right: 5px solid #3e1010;
    position: absolute;
    top: 170px;
    width: 75%;
    background-color: #000000af;
    display: flex;
    justify-content: center;

}
nav ul {
    list-style: none;

}

nav ul li {
    padding: 1rem 1rem;
    display: inline-block;
}

nav ul li a {
    font-size: 1.5rem;
    color: #FFFFFF;
}

nav ul li a:hover {
    font-size: 2.7rem;
    color: #dfdb06;
}
#historia {
    max-width: 1024px;
    margin: 0 auto;
}

#historia h1 {
    font-size: 3rem;
}
p{
    font-size: 20px;
}
#informacion{
    max-width: 1024px;
    margin: 0 auto;
}

#informacion h2 {
    font-size: 3rem;
}

#caracteristicas {
    max-width: 1024px;
    margin: 0 auto;
}

#caracteristicas h3 {
    font-size: 3rem;
}
li{
    font-size: 20px;
}
#comprar{
    max-width: 1024px;
    margin: 0 auto;
}

#comprar h4 {
    font-size: 3rem;
}

img {
    height: 200px;
    display: block;
    margin: 0 auto;
        
}
.miniatura{
    height: 200px;
    display: block;
    margin: 0 auto;
    float:right;
    clear:right;
}
footer {
    margin-top: 4rem;
    background-color: #000000;
    text-align: center;
    padding: 2.5rem;
    color: #FFFFFF;
    font-size: 2rem;
}
